*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: Inter,sans-serif;
    font-size:16px;
}
body{
    background: #0f172a;
    color: #fff;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1000;
    background: rgba(15, 23, 42, 0.9);
    border-bottom: 1px solid #1f293c;
    padding: 30px 0;

}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.3rem;
    font-weight: 700;
}
.logo span{
    color: #3473d4;
}
.menu{
    display: flex;
    align-items: center;
    gap:10px;
    color: #9bafbd;
    font-size:1rem;
}
.menu-icon{
    font-size: 1.5rem
}
.hero-section{
    padding:150px;
}
.hero-content{
    position: relative;
}
.hero-content h1{
    font-size: 3.75rem;
    line-height: 1;
    color: #50a5ff;
    margin-bottom: 20px;
}
.hero-content p{
    color: #88a2ba;
    font-size:1.2rem;
    line-height: 1.4;
    max-width:650px
}
.code-icon{
    position: absolute;
    top:40px;
    right:20px;
    font-size: 5rem;
    font-weight: 700;
    color: #112341;
}
.career-section, .benefits-section, .roadmap-section{
    padding:50px 0;
}
.section-title{
    position: sticky;
    top:60px;
    z-index: 20;
    font-size: 2rem;
    line-height: 1.2;
    padding:25px 0 15px 0;
    border-bottom: 1px solid #22304a;
    margin-bottom: 30px;
}
.career-card{
    position: relative;
    overflow: hidden;
    min-height: 240px;
    padding:25px;
    background: #1d2a3d;
    border:1px solid #303847;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s, box-shadow 0.3s ease;
    display: flex;
    flex-wrap: wrap;
}
.career-card::before{
    content: "";
    position: absolute;
    inset:0;
    background: radial-gradient(circle at top right,rgba(47,139,247,0.23), transparent 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.career-card:hover::before{
    opacity: 1;
}
.career-card:hover{
    transform: translateY(-5px);
    border-color:#334966;
    box-shadow: 0 10px 35px rgba(47,129,247,0.25);
}
.career-card > *{
    position: relative;
    z-index: 2;
}
.badge{
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 5px 15px;
    border-radius:10px;
    margin-bottom:15px;
}
.badge-red{
    background-color: #ff0000;
}
.badge-green{
    background-color: #4ada3c
}
.badge-blue{
    background-color: #3073f6;
}
.career-card h3{
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom:10px;
}
.career-card p{
    font-size: 1rem;
    color: #bbc4d3;
    line-height: 1.6;
    width:100%
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 15px
}
.tags span{
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 5px 10px;
    font-size:0.9rem;
    border:1px solid #334966;
    border-radius:8px;
    color: #50c4ff
}
.card-list{
    display: flex;
    gap:20px;
    flex:1;
}
.benefits-cards{
    display: flex;
    gap:20px;
}
.benefit-card{
    max-width:33%;
    padding:25px;
    background: #141f33;
    border:1px solid #334966;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex:1;
    row-gap:10px;
}
.benefit-icon{
    width:50px;
    height:50px;
    border-radius: 15px;
    background: #1c315f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.benefit-card h3{
    font-size: 1.2rem;
    line-height: 1.3;
}
.benefit-card p{
    color:#c5cdd6;
    font-size:0.9rem;
    line-height: 1.4rem;
}
.roadmap-list{
    position: relative;
}
/*.roadmap-list::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right:50px;*/
/*    bottom:50px;*/
/*    width:2px;*/
/*    background:#3d74d9;*/
/*}*/
.roadmap-card{
    position: relative;
    min-height: 100px;
    padding:25px 40px;
    background: #1d2a3d;
    border:1px solid #334966;
    border-radius: 20px;
    margin-bottom: 15px;
}
.roadmap-circle{
    position: absolute;
    left:-10px;
    top:45px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background: #3d74d9;
    border:3px solid #0f172a;
}
.roadmap-head{
    display: flex;
    align-items: center;
    gap:15px;
    margin-bottom:15px;
}
.roadmap-head h3{
    font-size: 1.2rem;
    line-height: 1.6;
    white-space: nowrap;
}
.roadmap-head span{
    color: #c5cdd6;
    font-weight:300;
    font-size:0.75rem;
}
.roadmap-content{
    color:#c5cdd6;
    font-size:0.9rem;
    line-height: 1.5;
}
.roadmap-section{
    border-bottom: 1px solid #1f293c;
}
footer{
    text-align: center;
    display: flex;
    row-gap:10px;
    flex-direction: column;
    padding:50px;
}
footer p{
    color:#c5cdd6;
    font-size:0.9rem
}
.chat-button{
    position: fixed;
    right:30px;
    bottom:30px;
    width:70px;
    height:70px;
    background: #3d74d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: scale 0.5s ease, background-color 0.3s ease;
}
.chat-button:hover{
    transform: scale(1.2);
    background: #336cd3;
}
@media(max-width: 700px){
    .wrapper{
        padding:40px
    }
    .card-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .career-card{
        min-height: auto;
    }
}
@media(max-width: 1000px){
    .wrapper{
        padding:40px
    }
}