*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #464646;
    align-items: center;

}
.logo{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.logo-img{
    background: linear-gradient(rgb(173, 84, 220), rgb(224, 67, 170));
    padding: 15px;
    border-radius: 50%;
}
.logo-text{
    font-size: 20px;
    font-weight: 500;
}
.nav ul{
    display: flex;
    column-gap: 20px;
}
.nav ul li a{
    color: #464646;
    font-weight: 500;
    font-size: 14px;
}
.nav ul li a:hover{
    color: #E043AAFF;
}
.header-button{
    display: flex;
    column-gap: 15px;
}

.header-button button{
    border: none;
    background: transparent;

}

.header-button button:hover{
    background: #e0dfdf;
    border-radius: 5px
}

.header-bottom{
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgb(173, 84, 220), rgb(224, 67, 170));
    text-align: center;
}

.header-bottom-text{
    margin: 0 240px;
    width: 768px
}
.header-bottom-text h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 60px
}
.header-bottom-text p{
    font-size: 20px;
    margin-bottom: 32px;
}

.header-button-bottom{
    display: flex;
    column-gap: 10px;
}

.header-button-bottom button{
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    color: #9b17f7;
    border-radius: 10px
}

#btn-hover{
    color: transparent;
}

#btn-hover:hover{
    color: black;
    outline: 10px solid white;
}
.preference{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 64px 0;
    text-align: center;
}
.preference-card{
    width: 288px
}

.preference-card span{
    background: #f4e8ff;
    padding: 16px;
}
